body{
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #000000;
	background-image: url("img/bg-index-body.jpg");
	background-position: top center;
	background-repeat: no-repeat;	
}

.inner-page {
	color: #000000;
	
	background-color: #f9f6f3;
	background-image: url("img/bg-index-content.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

a {
	text-decoration: none; 
}

img{
	width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font: inherit;
	display: inline-block;
	margin-right: 16px;
	padding: 10px 30px;
	
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #000000;
	border: none;
}

.button:hover,
.button.focus,
.button.active {
	background-color: #663d15;
}

.button.disable,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000000;
}

.container {
	width: 940px;
	margin: 0px auto;
	padding: 0 10px;
}

.main-header{
	margin-bottom: 75px;
}

.inner-page .main-header {
	margin-bottom: 50px;
	background-color: #000000;
}

.main-header-logo {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	width: 368px;
	height: 153px;
}

.inner-page .main-header-logo {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
	width: 111px;
	height: 25px;
	padding: 23px 20px;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.inner-page .main-navigation {
	-webkit-box-orient: horizontal;
	-ms-flex-align: start;
	align-item: flex-start;
	-webkit-box-align: start;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	background-color: #000000;
}

.main-navigation-wrapper .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 620px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 140px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.inner-page .user-navigation {
	margin-left: auto;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;
	
	vertical-align: middle;
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current a[href] {
	pointer-events: none;
}

.site-navigation-current a:not ([href]){
	background-color: #000;
}

.site-navigation-current::after {
	content: "";
	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;
	height: 5px;
	background-color: #fff;
}

.site-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 24px;
	width: 16px;
	height: 18px;
	background-image: url("img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
login-link:active::before {
	opacity: 1;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features-item {
	width: 300px;
	text-align: center;
}

.advantages-item h3 {
	position: relative;
	margin:0;
	margin-bottom: 60px;
	font-size: 30px;
	line-height: 42px;
}

.advantages-item h3::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background-color: #f7f4f1;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.features-item p {
	margin: 0 10px;
}

.index-colums {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 35px;
	padding: 50px 80px;
	color: #000000;
	background-color: #f8f7f2;
	background-image: 
	url("img/bg-index-content-shadow.png"), 
	url("img/bg-index-content.jpg");
	background-position: center, 0 0;
	background-repeat: no-repeat, repeat;
}

.index-colums h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 380px;
}
 
.news-list {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	list-style: none;
}

.news-item {
	margin-bottom: 25px;
}

.news-item p {
	margin: 0;
}

.news-item time {
	text-transform: none;
}

.gallery {
	width: 300px;
}

.gallery-content {
	margin: 0;
	height: 164px;
	
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-container {
	position: relative;
	height: 260px;
}

.gallery-button {
	position: static;
	bottom: 0;
	margin: 0;
	width: 140px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.gallery-button-back {
	left: 0;
}

.gallery-button-next {
	right: 0;
}

.contacts {
	width: 380px;
}

.contacts p {
	margin: 0;
	margin-bottom: 25px;
}

.appointment {
	width: 300px;
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;
}

.appointment-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.appointment-item {
	margin: 0;
	margin-bottom: 10px;
	width: 140px;
}

.appointment-item label {
	display: block;
	margin-bottom: 9px;
	margin-left: 15px;
}

.appointment-item input {
	font: inherit;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
	width: 140px;
	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input:focus {
	border-color: #663d15;
}

.appointment .button {
	display: block;
	margin-top: 10px;
	margin-right: 0;
	width: 100%;
}

.page-title {
	font-size: 30px;
	line-height: 42px
	margin: 0;
	padding: 0;
	margin-bottom: 15px;	
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-ms-flex-wrap: wrap;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	list-style: none;
}

.breacrumbs li {
	position: relative;
	margin-right: 42px;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 7px;
	right: -25px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.breadcrumbs li:last-child {
	margin-right: 0px;
}

.breadcrumbs-current::after {
	display: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.catalog-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.filters {
	width: 180px;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.filter fieldset:first-child {
	margin-bottom: 35px;
}

.filter legend {
	font-size: 24px;
	margin-bottom: 26px;
	line-height: 30px;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 18px;
}

.filter-option {
	margin-bottom: 19px;
	padding-left: 43px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-input + label::before {
	content: "";
	position: absolute;
	top: 0px;
	left: -42px;
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
}

.filter-input-checkbox:checked+label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: -38px;
	width: 12px;
	height: 12px;
	background-image: url("img/cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -42px;
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -36px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	border-radius: 50%;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000000;
	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	list-style: none;
}

.catalog-item {
	margin-right: 20px;
	margin-bottom: 20px;
	width: 220px;
	background-color: #f8f8f8;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	-webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #000000;
}


.catalog-item h3 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1,
	order: 1;
	margin-top: 17px;
	margin-bottom: 12px;
	margin-left: 16px;
	margin-right: 15px;
	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	display: block;
	text-transform: none;
}

.catalog-item img {
	margin: 0;
	width: 220px;
	height: 165px;
}

.catalog-item-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 15px;
	margin-top: 0;
}

.catalog-item-price b {
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	width: 112px;
	background-color: #e5e5e5;
	padding: 13px 25px 11px;
}

.catalog-item-price .button {
	margin-right: 0;
	padding: 13px 18px 11px;
	width: 50px;
	line-height: 20px;
	color: #ffffff;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-fles-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination-item {
	margin-right: 5px;
}

.pagination-item:last-child {
	margin-right: 0px;
}

.pagination-item a {
	display: block;
	padding: 10px 19px;
	color: #fffff;
	background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;
	background-color: #ffffff;
}

.product-photos {
	width: 460px;
}

.product-photo-preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
} 

.product-photo-preview li {
	width: 140px;
	height: 149px;
	margin-right: 20px;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li:nth-child(3n) {
	margin-right: 0px;
}

.product-photo-full {
	width: 460px;
	height: 498px;
	margin: 0;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 2px rgba(0, 0,0, 0.1);
}

.product-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 10px;
	margin-bottom: 29px;
}

.product-description p {
	width: 200px;
}

.product-article {
	text-align: right;
	color: #aeaeae;
}

.product-price b {
	width: 112px;
	padding-top: 13px;
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 11px;
	line-height: 20px;
	text-align: center;
	background-color: #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.product-price .button {
	padding-left: 17px;
	padding-right: 17px;
}

.product-info {
	width: 390px;
	padding-top: 23px;
}

.product-info p {
	margin: 0px;
}

.product-info h3 {
	margin: 0px;
	margin-bottom: 27px;
	font-size: 24px;
	line-height: 30px;
}

.product-info .product-text {
	margin-bottom: 35px;
}

.product-info .product-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 63px;
}

.product-info ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.product-info li {
	position: relative;
	padding-left: 23px;
}

.product-info li::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 2px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.inner-content {
	margin-bottom: 75px;
}

.inner-content h2 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}

.inner-content h3 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 24px;
}

.inner-content h2+h3 {
	margin-top: 30px;
}

.inner-content p {
	margin: 14px 0;
}

.inner-content table {
	border-collapse: collapse;
}

.inner-content td {
	padding: 10px 15px;
	border: 2px solid #000000;
}

.inner-content .big-heading {
	align-items: center;
	margin-top: 55px;
	margin-bottom: 65px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.big-heading::before,
.big-heading::after {
	content: "";
	flex-shrink: 0;
	width: 50px;
	height: 2px;
	background-color: #000000;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
}

.big-heading::before {
	margin-right: 25px;
}

.big-heading::after {
	margin-left: 25px;
}

.custom-list-1 {
	margin: 14px 0;
	padding: 0;
	list-style: none;
}

.custom-list-1 li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;	
}

.custom-list-1 li::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: #000000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-table-1 {
	width: 100%;
}

.custom-table-1 tb {
	width: 50%;
}

.custom-table-1 td:last-child {
	text-align: center;
}

.inner-colums {
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.inner-column-left,
.inner-column-right {
	width: 460px;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
	margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
	margin-bottom: 0;
}

.inner-columns > h2:first-child {
	width: 460px;
	margin-top: 0;
	margin-right: 460px;
	margin-right: calc(100% - 460px);
}

.short-text {
	padding-right: 80px;
}

.main-footer {
	color: #ffffff;
	margin-top: 65px;
	padding: 60px 0;
	background-color: #212121;
	background-image: url("img/bg-footer.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.inner-page .main-footer {
	margin-top: 45px;
}

.main-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-address {
	margin-right: 80px;
	width: 320px;
	margin: 0px;
}

.footer-address a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-address a:hover,
.footer-address a:focus {
	text-decoration: none;
}

.footer-social {
	width: 145px;
	text-align: center;
}

.footer-social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	width: 141px;
	list-style: none;
}

.footer-social b {
	display: block;
	margin-bottom: 15px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 43px;
	height: 43px;
	background-color: #000000;
}

.social-button:hover,
.social-button:focus {
	background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
	fill: #000000;
}

.footer-copyring {
	margin-left: auto;
	width: 150px;
	margin: 0px;
	text-align: center;
}

.footer-copyring .button {
	display: block;
	margin-right: 0;
}

.footer-copyring b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;
	background-color: #ffffff;
}

@-webkit-keyframes bonus {
	0% {
		-webkit-transform:translateY(-2000px);
		transform: translateY(-2000px);
	}
	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bonus {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateX(0);
		}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

.modal{ 
	color: #000000;
	display: none;
	position: fixed;
	background-color: #f8f3f0;
	background-image: url("img/bg-index-content.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

 .modal-login {
	 top: 120px;
	 left: 50px;
	 width: 300px;
	 margin-left: -230px;
	 padding: 50px 80px;
 }
 
 .modal-close {
	 position: absolute;
	 top: 0;
	 right: -34px;
	 width: 22px;
	 height: 22px;
	 background: none;
	 border: 0;
	 cursor: pointer;
	 font-size: 0px;
 }
 
 .modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
}

.modal-closed::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.modal-closed::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-login h2 {
	margin: 0px;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.modal-description {
	margin: 0px;
	margin-bottom: 10px;
}

.login-form p {
	margin: 0;
	margin-bottom: 10px;
}

.login-form input[type="text"],
 .login-form input[type="password"] {
	 font: inherit:
	 color: #000000;
	 text-transform: uppercase;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 padding: 10px 15px;
	 padding-right: 40px;
	 width: 100%;
	 background-color: #f9f6f3;
	 border: 2px solid #000000;
 }

.login-form input:focus {
	border-color: #663d15;
}

.login-icon-user {
	background-image: url("img/user.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-icon-password {
	background-image: url("img/lock.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-form .login-help {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 15px 0px;	
}

.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-form .restore {
	color: #000000;
	text-decoration: underline;
}

.login-checkbox input [type="checkbox"]+.checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px; 
	border: 2px solid #000000;
}

.login-checkbox input [type="checkbox"]:focus+.checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000000;
}

.login-checkbox input [type="checkbox"]:checked+.checkbox-indicator::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(45deg);
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

.login-form .button {
	width: 100%;
	margin-right: 0px;
}

.modal-map {
	top: 50%;
	left: 50%;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	border: 7px solid #fff;
}

.modal-map p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
}

.modal-map iframe {
	position: relative;
	z-index: 2;
	border: none;
}

.modal-show {
	display: block;
	-webkit-animation: bounce 0.5s;
	animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

















