body{
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #000000;
	background-image: url("img/bg-index-body.jpg");
	background-position: top center;
	background-repeat: no-repeat;	
}

.cotainer {
	margin: 0 auto;
	padding: 0 10px;
	width: 940;
}

.inner-page {
	color: #000000;
	
	background-color: #f9f6f3;
	background-image: url("img/bg-index-content.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

a {
	text-decoration: none; 
}

img{
	width: 100%;
	height: auto;
}

.button {
	font: inherit;
	display: inline-block;
	margin-right: 20px;
	padding: 20px 30px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.main-header{
	margin-bottom: 44px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 37px;
	background-color: #000000;
}


.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	 
	 background-color: #000000;
	 
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation a {
	display: block;
	padding: 26px 20px;
	color: #ffffff;
}

.main-navigation a {
	display: block;
	padding: 26px 20px;
	color: #ffffff;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff; 
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,{
	background-color: #242424;
}

.user-navigation .login-link {
	position: relative;
	padding: 50px;
}
.user-navigation .login-link::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 15px;
	height: 15px;
	background-image: url("img/logib.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation .login-link:hover::before,
.user-navigation .login-link:focus::before,
.user-navigation .login-link:active::before {
	opacity: 1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current a:not ([href]){
	background-color: #000000;
}

.site-navigation-current::after {
	content: "";
	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;
	height: 5px;
	background-color: #ffffff;
}

.inner-page .main-header {
	margin-bottom: 50px;
	background-color: #000000;
}

>inner0page .user-navigation {
	margin-left: auto;
}

.advantages {
	margin-bottom: 78px;
}

.advantages-item {
	width: 300px;
	text-align: center;
}

.advantages-item h3 {
	position: relative;
	margin:0;
	margin-bottom: 60px;
	font-size: 30px;
	line-height: 42px;
}

.advantages-item p {
	margin: 0 10px;
}

.features-list{
	list-style: none;
}

.feature-item {
	text-align: center;
}

.feature-item h3 {
	font-size: 30px;
	line-height: 42px;
} 
 
 .index-colums{
	 color: #000000;
	 
	 background-color: #f8f5f2;
	 background-image: url("img/bg-index-content.jpg");
	 background-position: 0 0;
	 background-repeat: repeat;
 }
 
 .index-colums section:first-child {
	 width: 380px;
 }

.index-colums section:last-child {
	width: 300px;
}

.index-colums h2 {
	font-size: 30px;
	line-height: 42px;
	margin: 0;
	margin-bottom: 17px;
}

.news-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	list-style: none;
}

.news-item {
	margin-bottom: 20px;
}

.news-item p {
	margin: 0;
}

.news-item time {
	text-transform: none;
}

.gallery-container {
	position: relative;
	height: 260px;
}

.gallery-content {
	margin: 0;
	height: 164px;
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .button {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 140px;
	box-sizing: border-box;
}

.gallery .button:first-child {
	left: 0;
}

.gallery .button:last-child {
	right: 0;
}

.contacts p {
	margin: 0;
	margin-bottom: 25px;
}

.contacts-address a {
	color: #000000;
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;
}

.appointment-form-item {
	margin: 0;
	margin-bottom: 10px;
	width: 140px;
}

.appointment-form-item label {
	display: block;
	margin-bottom: 7px;
	margin-left: 17px;
}

.appointment-item input {
	font: inherit;
	
	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input:focus {
	border-color: #663d15;
}

.appointment-form .button {
	display: block;
	margin-top: 10px;
	margin-right: 0;
	width: 100%;
}

.page-title {
	font-size: 30px;
	line-height: 42px
	margin: 0;
	padding: 0;
	margin-bottom: 15px;	
}

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 53px;
}

.breacrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 8px;
	right: -24px;
	width: 8px;
	height: 8px;
	background-color: #000000;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
	margin-right: 0;
}

.breadcrumbs-current::after {
	display: none;
}

.filter {
	width: 220px;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.filter fieldset:last-of-type {
	margin-bottom: 45px;
}

.filter legend {
	font-size: 24px;
	margin-bottom: 30px;
	line-height: 30px;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 18px;
}

.filter-option {
	margin-bottom: 15px;
	padding-left: 43px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
}

.filter-input-checkbox+label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -43px;
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
}

.filter-input-checkbox:checked+label::after {
	content: "";
	position: absolute;
	top: 1px;
	left: -39px;
	width: 12px;
	height: 12px;
	background-image: url("img/cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio+label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -43px;
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
	border-radius: 50%;
}

.filter-input-radio;checked+label::after {
	content: "";
	position: absolute;
	top: 3px;
	left: -37px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	border-radius: 50%;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disable + label {
	color: #000000;
	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
	list-style: none;
}

.catalog-item {
	margin-right: 20px;
	margin-bottom: 20px;
	width: 220px;
	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item h3 {
	margin: 15px 16px;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.catalog-category {
	display: block;
	text-transform: none;
}

.catalog-item img {
	margin: 0;
	width: 220px;
	height: 165px;
}

.catalog-item-price {
	margin: 16px;
	margin-top: 0;
}

.catalog-item a {
	color: #000000;
}


.catalog-categort {
	text-transform: none;
}

.catalog-item-price b {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 13px 35px;
	width: 109px;
	background-color: #e5e5e5;
}

.catalog-item-price .button {
	line-height: 20px;
	margin-right: 0;
	padding: 10px 18px;
	width: 75px;
	color: #ffffff;
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

.pagination-list li {
	margin: 7px;
	background-color: #000000;
}

.pagination-item a {
	color: #ffffff;
	display: block;
	padding: 13px 19px;
}


.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-current a {
	color: #000000;
	
	background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;
	
	background-color: #ffffff;
}

.product-photo-previem {
	list-style: none;
}

.product-photo-preview li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
	box-shadow: 0 0 10px 2px rgba(0,0,0, 0.1);
}

.product-article {
	text-align: right;
	color: #aeaeae;
}

.product-price b {
	line-height: 2px;
	text-align: center;
	
	background-color: #e5e5e5;
}

.product-info h3 {
	font-size: 24px;
	line-height: 30px;
}

.product-info ul {
	list-style: none;
}

.main-footer {
	color: #ffffff;
	
	background-color: #212121;
	background-image: url("img/bg-footer.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}
 
 .footer-contacts a:hover,
 .footer-contacts a:focus {
	text-decoration: none; 
 }
 
 .footer-social {
	 text-align: center;
 }
 
 .footer-social ul  {
	 list-style: none;
 }
 
 .social-button {
	 color: #ffffff;
 }  

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;
	
	background-color: #ffffff;
}

.modal{ 
	color: #000000;
	
	background-color: #f8f3f0;
	background-image: url("img/bg-index-content.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}
 
 .login-form input[type="text"],
 .login-form input[type="password"] {
	 font: inherit:
	 color: #000000;
	 text-transform: uppercase;
	 
	 background-color: #f9f6f3;
	 border: 2px solid #000000;
 }

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}




















